
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Carter One', cursive;

}

h1 {
    margin-bottom: 20px;
}

img {
    max-width: 350px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.head-container {
    text-align: center;
    border-bottom: 1px solid black;
}

div.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.question {
    font-weight: bold;
    font-size: 25px;
}

.answer {
    display: block;
    padding: 5px;
    text-align: left;
}

button {
    width: 100px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 20px;
}
  
button:hover {
    cursor: pointer;
}

main::after {
    content: "";
    background-image: url("/imgs/background-min.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}