
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Carter One', cursive;
}

h1 {
    margin-bottom: 20px;
    color: #202E65;
}

img {
    max-width: 250px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.head-container {
    text-align: center;
    border-bottom: 1px solid black;
}

.quiz-container {
    max-width: 680px;
    margin: auto auto;
    padding: 10px;
    text-align: center;
}

.question {
    font-weight: bold;
    font-size: 25px;
    color: #ED1A32;
}

.answer {
    display: block;
    padding: 5px;
    text-align: left;
    color: #202E65;
}

.button {
    width: 100px;
    padding: 10px;
    background-color: #202E65;
    color: white;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}
  
.button:hover {
    cursor: pointer;
}

main::after {
    content: "";
    background-image: url("./imgs/background-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}